.divider {
  @apply flex items-center text-center text-primary text-sm my-8;

  &::before,
  &::after {
    @apply border-solid border-white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #fff;
  }

  &:not(:empty)::before {
    margin-right: 1em;
  }

  &:not(:empty)::after {
    margin-left: 1em;
  }
}
