.list-item {
  @apply flex;
  &::before {
    @apply flex items-center mr-0.5 text-primary text-opacity-40;
    font-size: 18px;
    content: "\25B8";
  }

  vertial-align: middle;

  @screen sm {
    &::before {
      @apply inline-block text-primary mr-1 text-opacity-40;
      font-size: 20px;
      right: 0;
      max-width: 50%;
      top: 50%;
      transform: translateY(-10%);
    }
  }
}
