.list-item {
  @apply pl-2;
}

@media only screen and (min-width: 768px) {
  .list-item::marker {
    @apply inline-flex flex-nowrap items-center text-primary text-opacity-40;
    padding: 4px;
    content: "▸";
  }
}

@media only screen and (max-width: 640px) {
  .list-item::before {
    @apply inline-flex flex-nowrap items-center text-primary text-opacity-40;
    padding: 2px;
    content: "▸";
  }
}
