.list-item {
  @apply flex;
  &::before {
    @apply flex items-center mr-0.5 text-primary text-opacity-40;
    font-size: 18px;
    content: "\25B8";
  }

  @screen sm {
    &::before {
      @apply inline-block text-primary mr-1 text-opacity-40;
      font-size: 18px;
      // transform: translateY(-10%);
      line-height: 24px;
    }
  }
}
