.logo-hover {
  @apply transition transform duration-500 ease-in-out hover:rotate-3;
}

.svg-hover {
  @apply transform transition ease-in-out stroke-current text-opacity-50 text-gray-900 duration-500 hover:text-opacity-50 hover:text-blue-400;
}

.logo-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.header-grid {
  @apply grid;
  grid-template-rows: 0.25fr 1fr 0.25fr 0.25fr;
}

.loading {
  @apply uppercase;
  font-weight: 200;
  font-size: 3.5em;
}

.loading .letter {
  line-height: 1em;
}

.name {
  font-weight: 450;
  font-size: 3.5em;
}

.name .letter {
  @apply duration-200 ease-out;
  line-height: 1em;
  &:hover {
    @apply duration-200 ease-in;
    scale: 1.2;
    rotate: 1deg;
  }
}

/** SPINNER STYLES */

.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  @apply bg-gray-300;
  width: 12px;
  height: 12px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/** END SPINNER STYLES */

/** TYPEWRITER ANIMATION */

.subtitle {
  @apply cursor-default relative block;
  line-height: 1;
  font-size: 1.2em;
}

.subtitle .letter {
  @apply text-gray-900;
}

.letter {
  @apply cursor-default inline-block text-white;
}

.cursor {
  @apply bg-gray-800;
  position: absolute;
  margin-left: 0.075rem;
  top: 0;
  bottom: 0;
  width: 1.25px;
  z-index: 1;
}
/** END TYPEWRITER ANIMATION */
