@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fadeInRight {
  animation: fadeInRight 2s cubic-bezier(0.4, 0, 0.6, 1);
  opacity: 1;
}

.fadeOutLeft {
  animation: fadeOutLeft 0.5s cubic-bezier(0.4, 0, 0.6, 1);
  opacity: 0;
}

.experience-grid {
  @apply grid grid-rows-1 overflow-hidden;
  grid-template-columns: 0.1fr 3fr 0.1fr;
}

@media (min-width: 0px) {
  .navigation-grid {
    grid-template-columns: 0.5fr 1fr 0.5fr;
  }
}

.navigation-grid {
  @apply grid grid-rows-1 md:grid-cols-3 gap-8 md:gap-4 mt-4 md:mt-8;
  .arrow {
    @apply inline-flex justify-center select-none focus:outline-none text-2xl text-gray-300 rounded-lg border border-gray-700 transition duration-300 ease-in-out overflow-hidden;
    &:hover {
      @apply text-gray-100 border-solid border-gray-700 bg-gray-800;
    }
    &:active {
      @apply border-gray-900 text-white shadow-sm;
    }
  }
}
