$circle-radius: 64px;
$circle-stroke-width: 1.5px;

.label {
  @apply flex justify-center;
}

.percent-container {
  @apply text-gray-300;
  width: calc(#{$circle-radius} * 2);

  svg {
    width: calc(#{$circle-radius} * 2);
    height: calc(#{$circle-radius} * 2);
    fill: none;
    path {
      fill: none;
      @apply stroke-current;
      // stroke: rgba(17, 24, 39, var(--tw-text-opacity));
      stroke-width: $circle-stroke-width;
      animation: progress 2s ease-out forwards;
    }
    /*  text {
      @apply text-sm;
      text-anchor: middle;
    } */
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
