$circle-radius: 64px;
$circle-stroke-width: 1.5px;

.label {
  @apply flex justify-center;
}

.percent-container {
  @apply text-white;
  width: calc(#{$circle-radius} * 2);

  svg {
    width: calc(#{$circle-radius} * 2);
    height: calc(#{$circle-radius} * 2);
    fill: none;
    path {
      fill: none;
      @apply stroke-current;
      stroke-width: $circle-stroke-width;
      animation: progress 2.4s ease-out forwards;
    }
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
