.unselected {
  @apply overflow-hidden;
  position: relative;
  display: inline-block;
  color: rgba(107, 114, 128, 1);
  overflow: hidden;
  background: linear-gradient(to right, rgba(96, 165, 250, 1), rgba(96, 165, 250, 1) 50%, rgba(107, 114, 128, 1) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  &:hover {
    background-position: 0 100%;
  }
}
